h1 Todolist with Express and Pug

h4 Search
form(action="/todos/search", method="GET")
  input(type="text" name="t" value=searchValue)
  button(type="submit") Search

ul
  each item in items
    li= item